body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

.code-container {
  display: flex;
  flex-direction: row;
  flex: 2;

  align-items: stretch;
  align-content: stretch;
}

.code,
.output {
  flex: 0.5;
}
.code {
  border: 1px solid silver;
}

.output {
  padding: 15px;
  margin: 0;

  .error {
    color: red;
  }
  .debug {
    color: gray;
  }
}

.controls {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding: 15px;
  background-color: lightgray;
}

.controls > :not(:last-child) {
  margin-right: 15px;
}

.examples {
  width: fit-content;
}

button,
select {
  cursor: pointer;
}

code {
  white-space: nowrap;
}
